@using InternetSP.Models
@model List<SubscribePkg>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
   
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Packge Name")
                    </th>
                    <th>
                        @Html.DisplayName("User Name")
                    </th>
                    <th>
                        @Html.DisplayName("Price")
                    </th>
                    <th>
                        @Html.DisplayName("DateTime")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @item.Packge.Name
                    </td>
                    <td>
                        @item.User.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Dateime
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" id="confirm" onclick = "return confirm('Record will be deleted permanently. Are you sure?');">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

